<div class="page-wrapper">
    <app-navbar currentLinkNumber='3'></app-navbar>
    <div class="header-area">
        <div class="caption">Best Room For Best Sleep</div>
        <div class="sub-caption">Explore our world class room. Enjoy your stay while on mountain</div>
        <div class="button">Select any one below</div>
      </div>

      <div class="container">
        <div class="main">
            <div class="card-wrapper">
                <div class="content-area">
                    <div class="title">Room 1</div>
                    <div class="sub-title">reveiws</div>
                    <div class="icons"></div>
                    <div class="text">
                        With a separate seating area, bedroom with one king bed, and approximately 1,016 square feet, you’ll have plenty of space to relax in this mobility-accessible room.
                    </div>
                    <div class="read-more" (click)="navigate()">View Room</div>
                </div>
                <div class="image">
                    <img src="../../assets/images/room-1.jpg" alt="">
                </div>
            </div>
            <div class="card-wrapper">
                <div class="content-area">
                    <div class="title">Room 2</div>
                    <div class="sub-title">reveiws</div>
                    <div class="icons"></div>
                    <div class="text">
                        A plush king bed, luxury sheets, and thoughtful amenities make for a comfortable and valuable stay in this approximately 280-square-foot Manhattan room.
                    </div>
                    <div class="read-more" (click)="navigate()">View Room</div>
                </div>
                <div class="image">
                    <img src="../../assets/images/room5.webp" alt="">
                </div>
            </div>
            <div class="card-wrapper">
                <div class="content-area">
                    <div class="title">Room 3</div>
                    <div class="sub-title">reveiws</div>
                    <div class="icons"></div>
                    <div class="text">
                        With a pillow-top king bed, roll-in shower, and approximately 280 square feet of space in this mobility-accessible room, you’ll be set for a great stay in the city.
                    </div>
                    <div class="read-more" (click)="navigate()">View Room</div>
                </div>
                <div class="image">
                    <img src="../../assets/images/room2.jpg" alt="">
                </div>
            </div>
            <div class="card-wrapper">
                <div class="content-area">
                    <div class="title">Room 4 </div>
                    <div class="sub-title">reveiws</div>
                    <div class="icons"></div>
                    <div class="text">
                        Witness the excitement of Broadway from the convenience of our approximately 280-square-foot Broadway Facing Room with a king bed.
                    </div>
                    <div class="read-more" (click)="navigate()">View Room</div>
                </div>
                <div class="image">
                    <img src="../../assets/images/room1.jpg" alt="">
                </div>
            </div>
        </div>
      </div>
</div>