<div class="page-wrapper">
  <app-navbar currentLinkNumber="5"></app-navbar>
  <div class="header-area">
    <div class="caption">Mountain-hotel Classic by far</div>
    <div class="sub-caption">
      Your comfort is our priority. We are here to offer you the best.
    </div>
  </div>

  <div class="container">
    <div class="main">
      <h1>About Mountain Hotel</h1>
      <div class="card-wrapper">
       
        <div class="content-area">
          <div class="icons"></div>
          <div class="text">
            <div class="image">
                <img src="../../assets/images/room-3.jpg" alt="" />
              </div>
              <div class="title">What make us different</div>
          <div class="sub-title">Better by far</div>
            <p>
            
              While our enviable New York City location tops the list of
              preferred reasons to stay at The Mountain-hotel at Times Square
              Hotel, we didn't stop there in our quest to make your New York
              stay with us as comfortable and convenient as it can be. Frequent
              travelers agree that one of the best ways to maximize your travel
              budget, minimize your travel time and get to see as much as
              possible is to choose a New York City hotel that puts you in the
              heart of the action, while providing guest services and great
              amenities that allow you to thoroughly relax and refresh. Located
              just two blocks from Rockefeller Center, four blocks from MoMA and
              just steps from the exciting Times Square and the Broadway Theater
              District, The Mountain-hotel at Times Square Hotel pairs a great
              location with unmatched amenities and services.
            </p>
            <h2>Undeniable Quality</h2>
            <p>
              Whether you're traveling for business or pleasure, our Times
              Square hotel offers a wide range of must-have amenities, services
              and value-added perks that make your New York hotel stay
              convenient and affordable. At The Mountain-hotel at Times Square Hotel,
              our Facility access fee of $35 per room, per night, delivers all
              this (and more) for one nominal fee. No nickel and diming, just
              effortless access to the services and facilities you need most.
              ($35 Inclusive Access fee does not include taxes and gratuity.
            </p>
            <h2>Our Uniqueness</h2>

            <p>
              The Mountain-hotel at Times Square Hotel partners with Save the
              Children, which works in communities in the United States and
              around the world to ensure that children are healthy, nourished,
              protected and able to learn. Through our groundbreaking work in
              child survival, early education and protection, we provide
              children with a strong foundation for the future.
            </p>
            <h2>The Vision</h2>
            <p>
              A world in which every child attains the right to survival,
              protection, development and participation
            </p>
            <h2>The Mission</h2>
            <p>
              To inspire breakthroughs in the way the world treats children and
              achieve immediate and lasting change in their lives
            </p>
            <h2>The Values</h2>
            <p>
              Accountability, ambition, collaboration, creativity, integrity
            </p>

            Last year, Save the Children worked in 120 countries and helped 143
            million children. Hi
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
