<div class="page-wrapper">
    <app-navbar currentLinkNumber='5'></app-navbar>
    <div class="header-area">
        <div class="caption">Best Room For Best Sleep</div>
        <div class="sub-caption">Explore our world class room. Enjoy your stay while on mountain</div>
        <div class="button">Select any one below</div>
      </div>

      <div class="container">
        <div class="main">
            <h1>About Mountain Hotel</h1>
            <div class="card-wrapper">
                <div class="image">
                    <img src="../../assets/images/room-3.jpg" alt="">
                </div>
                <div class="content-area">
                    <div class="title">Room 1</div>
                    <div class="sub-title">reveiws</div>
                    <div class="icons"></div>
                    <div class="text">
                        Over, dominion own it above gathering their, don't won't waters 
                        bring male bearing form may rule doesn't him fish appear spirit let earth may 
                        life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, 
                        dry.le doesn't him fish appear spirit let earth may life you'll to great.
                    </div>
                    <div class="read-more">Read more</div>
                </div>
                
            </div>
           
        </div>
      </div>
</div>