<div class="page-wrapper">
  <app-navbar currentLinkNumber="4"></app-navbar>
  <div class="header-area">
    <h1>Berenia</h1>
    <i>...building edge in technology gaps</i>
  </div>

  <div class="container">
    <div class="main">
      <div class="content-area">
        <div class="about">
          <h1 style="width: 100%; text-align: center">About Us</h1>
          <div style="flex: 1; min-width: 300px">
            <img src="../../assets/images/SVG/bg6-2.svg" alt="" />
          </div>
          <div class="text">
            <p>
              Berenia technology is one of the leading tech company in Nigeria.
              Berenia IT firm is devoted to building of websites, mobile app and
              training of developers. Berenia also grow team of developers and
              designers to build edge in gaps and meet market demand.
            </p>
            <h3>
              Berenia: Empowering Businesses with Cutting-Edge IT Solutions
            </h3>
            <p>
              Berenia is a full-service IT company that provides innovative
              solutions to businesses of all sizes. We believe that technology
              has the power to drive business success, and our goal is to help
              our clients leverage technology to achieve their goals.
            </p>
            <p>
              With a focus on product and service development, our team of
              experienced developers, designers, and engineers are dedicated to
              delivering exceptional results. From custom websites and web
              applications to mobile apps and powerful software solutions, we
              provide a wide range of IT services to meet the needs of our
              clients.
            </p>
            <p>
              At Berenia, we understand the importance of staying ahead of the
              curve in the rapidly evolving technology landscape. That's why we
              are dedicated to developing and implementing cutting-edge
              technologies, such as artificial intelligence, machine learning,
              and cloud computing. By leveraging these technologies, we aim to
              deliver solutions that are not only powerful but also intuitive
              and user-friendly.
            </p>
            <p>
              In addition to providing IT solutions, we also offer training and
              support to help our clients build and maintain their in-house
              development teams. Our training programs are designed to equip
              developers with the skills and knowledge they need to succeed in
              today's technology landscape, and our support team is always
              available to answer questions and provide guidance.
            </p>
            <p>
              At Berenia, we believe that our people are the backbone of our
              success. We have built a dynamic and talented team that is
              dedicated to delivering innovative solutions to our clients. By
              putting our people first, we are confident that we can continue to
              drive the success of our clients and our company. If you are
              interested in learning more about Berenia and the solutions we
              offer, please reach out to us. We would love to hear from you!
            </p>
          </div>
        </div>

        <div class="why-us-wrapper">
          <h2>Why Choose Us</h2>
          <div class="why-us">
            <h4>Attention to Details</h4>
            <p>
              It's our attention to the small stuff, scheduling of timelines and
              keen project management that makes us stand out from the rest. We
              are creative, while keeping a close eye on the calendar and your
              budget.
            </p>
          </div>

          <div class="why-us">
            <h4>We Identify</h4>
            <p>
              We identify our clients' needs through detailed discussions and
              assessments of their business. We have the flexibility and
              experience to quickly identify existing and emerging risks which
              need urgent attention in today's uncertain business world.
            </p>
          </div>

          <div class="why-us">
            <h4>A Plan for Success</h4>
            <p>
              You want results. We have found that the best way to get them is
              with up front research - of your company, competitors, target
              market and customer psychographics. Only after we fully understand
              you and your customers, do we recommend a plan of attack.
            </p>
          </div>
          <div class="why-us">
            <h4>Creativity</h4>
            <p>
              We bring our diverse background of advertising, design, branding,
              public relations, research and strategic planning to work for your
              company. Not only will your materials look great - they will get
              results.
            </p>
          </div>

          <div class="why-us">
            <h4>Experts Only</h4>
            <p>
              First Impressions is comprised of specialists with corporate and
              agency experience that hail from various backgrounds. As such,
              First Impressions will never assign second-tier (or gasp! third
              tier!) support staff to any account.
            </p>
          </div>

          <div class="why-us">
            <h4>Pricing</h4>
            <p>
              Our prices are competitive and fair. There are no surprise bills.
              Any unexpected or additional expenses must be pre-approved by you.
              That's how we would like to be treated, and that is how our
              clients are treated.
            </p>
          </div>

          <div class="why-us">
            <h4>Meeting Deadlines</h4>
            <p>
              We have worked with select casinos and state agencies for many
              years. Their rule - if we miss a deadline, we're out. Period. They
              have some of the tightest turnarounds in the business - and we've
              never missed a single one.
            </p>
          </div>

          <div class="why-us">
            <p>
              Work with us, and you'll work with seasoned professionals -
              vigilant of deadlines, and committed to exceeding client
              expectations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
