<div class="page-wrapper">
  <app-navbar currentLinkNumber="5"></app-navbar>
  <div class="header-area">
    <div class="caption">Book Your Room now</div>
    <div class="sub-caption">
      Don't hesitate to get in touch with us as soon as possible. We love to see you here.
    </div>
    <div class="button">Explore</div>
  </div>

  <div class="container">
    <div class="form-wrapper">
        <div class="form">
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Your Email">
            <input type="phone" placeholder="mobile">
            <textarea name="text" id="" cols="30" rows="10" placeholder="Your message here"></textarea>
            <div class="button">Send</div>
        </div>
        <div class="contact-details">
            <h2>Contact Us Now</h2>
            <div class="add">
                <h3>Our Address</h3>
                <h5>12 freedom street, mountain hotel</h5>
            </div>
            <div class="contact">
                <h3>+1 901564875</h3>
                <h5>info@mountainhotel.com</h5>
            </div>
        </div>
      </div>
  </div>
</div>
