<div class="page-wrapper">
  <app-navbar currentLinkNumber="5"></app-navbar>
  <div class="header-area">
    <div class="caption">Contact Us now</div>
    <div class="sub-caption">
      Don't hesitate to get in touch with us as soon as possible. We love to see you here.
    </div>
  </div>

  <div class="container">
    <div class="form-wrapper">
        <div class="form">
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Your Email">
            <input type="phone" placeholder="mobile">
            <textarea name="text" id="" cols="30" rows="10" placeholder="Your message here"></textarea>
            <div class="button">Send</div>
        </div>
        <div class="contact-details">
            <h2>Contact Us Now</h2>
            <div class="add">
                <h3>Our Address</h3>
                <h5>Rysan, S5A Rysan Plaza opposite NNPC Filling Station Bwari area council Abuja</h5>
            </div>
            <div class="contact">
                <h3>+234 9065614894</h3>
                <h5>support@berenia.com</h5>
                <h5>francis.awe@berenia.com</h5>
            </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
