.header-area {
    display: flex;
    flex-direction: column;
    // background-color: rgba(0, 0, 0, 0.75);
    background-image: url(../../assets/images/pool1.webp);
    height: 300px;
    padding: 100px;
  
    .caption {
      background-color: rgba($color: #2e1414, $alpha: 0.4);
      font-size: 40px;
      font-weight: bold;
      width: auto;
      color: #fff;
    }
    .sub-caption {
        background-color: rgba($color: #2e1414, $alpha: 0.4);
      margin-top: 30px;
      font-size: 16px;
      font-weight: 400;
      width: auto;
      text-transform: capitalize;
      font-weight: bold;
      color: #fff;
    }
    .button {
      margin-top: 30px;
      background-color: #ff2259;
      color: #fff;
      padding: 12px 20px;
      max-width: 100px;
      text-align: center;
      border-radius: 20px;
  
      &:hover {
        background-color: transparent;
        border: 1px solid #ff2259;
        color: #ff2259;
      }
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .main {
      margin-top: 50px;
      width: 78%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .text{
            font-size: 16px;
            font-family: "poppins";
            color: #333;
            line-height: 1.5;
            text-align: justify;
            word-wrap: wrap;

            &:first-letter {
                text-transform: capitalize;
            }
        }
      
    }
  }
  
 
  
  @media screen and (max-width: 750px) {
      .container {
          display: flex;
          justify-content: center;
          align-items: center;
          .main {
            margin-top: 50px;
            width: 90%;
           
          }
        }
  }