<div class="page-wrapper">
  <app-navbar currentLinkNumber="2"></app-navbar>
  <div class="header-area">
    <div class="caption">ROOM DETAILS</div>
    <div class="sub-caption">
      Enjoy your wonderful holidays with a great luxury experience!
    </div>
    <div class="button">Welcome back</div>
  </div>

  <div class="container">
    <div class="main">
      <div class="card-wrapper">
        <img src="../../assets/images/room5.webp" alt="" />

        <h2>Room details</h2>

        <div class="text">
          <p>
            This approximately 280-square-foot room with king bed offers an array of 
            accessibility features, including an ADA-compliant tub with grab bars in the 
            oversized bathroom, high and low peep holes, and an available kit with TTY, 
            lamp-flash phone signaler, and Sonic Boom alarm clock with bed shaker. 
            
          </p>
          <p>
            The pillow-top mattress and fine bedding offer a comfortable and relaxing sleep. 
            Maximum occupancy is two guests.Entrance and bathroom doorways provide at least
             36” of clear width. There is 48-60 inches of clearance width on the sides of the bed. 
             Desk has knee and toe clearance that is at least 32” high, 57” wide, and runs at least 17” deep. 
             The toilet seat is 17”-19”above the floor and has grab bars. 
          </p>
          <p>
            Lavatory sink provides knee clearance of at least 32” high, 30” wide, and 17” deep, 
             all of the under-sink plumbing has PVC covers on pipes, and the lowest reflective edge of the 
             mirror is no more than 34” high. Bathroom has an accessible tub with grab bars, and a detachable 
             handheld showerhead, and all wall mounted accessories and equipment are within 48” of the floor.
          </p>
         
        </div>
      </div>
    </div>
  </div>
</div>
