<div class="page-wrapper">
    <app-navbar currentLinkNumber='2'></app-navbar>
    <div class="header-area">
        <div class="caption">ROOM DETAILS</div>
        <div class="sub-caption">Enjoy your wonderful holidays with a great luxury experience!</div>
        <div class="button">Welcome back</div>
      </div>

      <div class="container">
        <div class="main">
            <div class="card-wrapper">
                <img src="../../assets/images/room-1.jpg" alt="">

                <h2>Room details</h2>
               
                    <div class="text">
                        <p>Over, dominion own it above gathering their, don't won't waters 
                            bring male bearing form may rule doesn't him fish appear spirit let earth may 
                            life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, 
                            dry.le doesn't him fish appear spirit let earth may life you'll to great.
                            Over, dominion own it above gathering their, don't won't waters </p>
                            <p>Over, dominion own it above gathering their, don't won't waters 
                                bring male bearing form may rule doesn't him fish appear spirit let earth may 
                                life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, 
                                dry.le doesn't him fish appear spirit let earth may life you'll to great.
                                Over, dominion own it above gathering their, don't won't waters </p>
                                <p>Over, dominion own it above gathering their, don't won't waters 
                                    bring male bearing form may rule doesn't him fish appear spirit let earth may 
                                    life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, 
                                    dry.le doesn't him fish appear spirit let earth may life you'll to great.
                                    Over, dominion own it above gathering their, don't won't waters </p>
                                    <p>Over, dominion own it above gathering their, don't won't waters 
                                        bring male bearing form may rule doesn't him fish appear spirit let earth may 
                                        life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, 
                                        dry.le doesn't him fish appear spirit let earth may life you'll to great.
                                        Over, dominion own it above gathering their, don't won't waters </p>
                    </div>
            </div>
           
        </div>
      </div>
</div>