<div class="page-wrapper">
  <div class="toolbar">
    <div class="logo"><span class="t1">Mountain</span> <span class="t2">Hotel</span></div>
    <div class="social-icons"></div>
    <div class="nav-links">
        <ul>
            <li class="current"><a href="#">Home</a></li>
            <li><a href="#">Detail</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="menu-icon">
        <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>
  <div class="header-area">
    <div class="caption">Most Relaxing Place</div>
    <div class="sub-caption">enjoy your wonderful holidays with a great luxury experience!</div>
    <div class="button">Explore</div>
  </div>
  <div class="container">
    <div class="main">
        <div class="top-card-wrapper">
            <h2>Book now</h2>
            <div class="inner-card-wrapper">
                <div class="card">
                    <div class="icon">
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </div>
                    <div class="title">Suite Room</div>
                    <div class="content">Far far away, behind the word mountains, far from the countries 
                        Vokalia and Consonantia, there live the blind texts.</div>
                </div>
                <div class="card">
                    <div class="icon">
                        <fa-icon [icon]="faSplotch"></fa-icon>
                    </div>
                    <div class="title">Deluxe Room</div>
                    <div class="content">Far far away, behind the word mountains, far from the countries 
                        Vokalia and Consonantia, there live the blind texts.</div>
                </div>
                <div class="card">
                    <div class="icon">
                        <fa-icon [icon]="faLayerGroup"></fa-icon>
                    </div>
                    <div class="title">Family Room</div>
                    <div class="content">Far far away, behind the word mountains, far from the countries 
                        Vokalia and Consonantia, there live the blind texts.</div>
                </div>
            </div>
            <h2>Explore great moment</h2>
            <div class="inner-card-wrapper">
                <div class="card">
                    <img src="../../assets/images/room4.webp" alt="">
                    <div class="title">Suite Room</div>
                </div>
                <div class="card">
                    <img src="../../assets/images/room2.jpg" alt="">
                    <div class="title">Deluxe Room</div>
                </div>
                <div class="card">
                    <img src="../../assets/images/room5.webp" alt="">
                    <div class="title">Family Room</div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
