<div class="page-wrapper">
  <app-navbar currentLinkNumber='1'></app-navbar>
  <div class="header-area">
    <div class="caption">Most Relaxing Place</div>
    <div class="sub-caption">enjoy your wonderful holidays with a great luxury experience!</div>
    <div class="button">Explore</div>
  </div>
  <div class="container">
    <div class="main">
        <div class="top-card-wrapper">
            <h2>Book now</h2>
            <div class="inner-card-wrapper">
                <div class="card">
                    <div class="icon">
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </div>
                    <div class="title">Suite Room</div>
                    <div class="content">Relax in our elegant rooms near the Empire State Building,
                        Madison Square Garden, the fashion district and so much more. 
                        Our boutique hotrl has it all.</div>
                </div>
                <div class="card">
                    <div class="icon">
                        <fa-icon [icon]="faSplotch"></fa-icon>
                    </div>
                    <div class="title">Great Street Cafe</div>
                    <div class="content">Grace Street is a one-of-a-kind Korean dessert cafe located 
                        in Koreatown, New York serving specialty drinks and handmade desserts.
                    </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <fa-icon [icon]="faLayerGroup"></fa-icon>
                    </div>
                    <div class="title">Explore our Neighboorhood</div>
                    <div class="content">Experience the captivating energy of Midtown Manhattan 
                        from this intimate, boutique location with easy access to Grand Central Station,
                         Penn Station, and the Port Authority Bus Terminal.</div>
                </div>
            </div>
            <h2>Explore great moment</h2>
            <div class="inner-card-wrapper">
                <div class="card">
                    <img src="../../assets/images/room4.webp" alt="">
                    <div class="title">Suite Room</div>
                </div>
                <div class="card">
                    <img src="../../assets/images/room2.jpg" alt="">
                    <div class="title">Deluxe Room</div>
                </div>
                <div class="card">
                    <img src="../../assets/images/room5.webp" alt="">
                    <div class="title">Family Room</div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
