.page-wrapper {
  background-color: #f3f3f3;
  font-family: "Poppins";
  overflow: hidden;
}


.header-area {
  display: flex;
  flex-direction: column;
  // background-color: rgba(0, 0, 0, 0.75);
        background-image: url(../../assets/images/gallery-5.jpg);
  color: #fff;
  height: 300px;
  padding: 100px;

  .caption {
    font-size: 40px;
    font-weight: bold;
  }
  .sub-caption {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
  }
  .button {
    margin-top: 30px;
    background-color: #ee5940;
    color: #fff;
    padding: 12px 20px;
    max-width: 100px;
    text-align: center;
    border-radius: 20px;

    &:hover {
      background-color: transparent;
      border: 1px solid #ee5940;
      color: #ee5940;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    margin-top: -100px;
    width: 72%;
    .top-card-wrapper {
      width: 100%;
      background-color: #ee5940;
      padding-top: 50px;
      overflow: hidden;
      h2 {
        background-color: #eee;
        padding: 10px;
        margin: unset;
        text-align: center;
      }

      .inner-card-wrapper {
        background-color: #fff;
        width: 98%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          flex-direction: column;
          max-width: 250px;
          min-width: 100px;
          min-height: 250px;
          background-color: #eee;
          box-shadow: 0px 2px 20px 2px #ccc;
          margin: 20px 15px;
          padding: 10px;
          overflow: hidden;

          &:hover {
            transition: 0.4s;
            transform: scale(1.05);

            .icon {
              transition: 0.55s;

              background-color: #ee5940;
              color: #eee;
            }
            .title {
              color: #e43d20;
            }
          }

          img {
            width: 100%;
          }

          .icon {
            width: 50px;
            height: 50px;
            overflow: hidden;
            background-color: #fff;
            color: #ee5940;
            font-size: 32px;
            border-radius: 50%;
            padding: 5px;
            text-align: center;
          }
          .title {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }
          .content {
            padding: 5px;
            font-size: 14px;
            color: #333;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  
      .header-area {
        display: flex;
        flex-direction: column;
        // background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        height: 300px;
        padding: 50px;
      
        .caption {
          font-size: 38px;
          font-weight: bold;
        }
        .sub-caption {
          margin-top: 20px;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
        .button {
          margin-top: 20px;
          background-color: #ee5940;
          color: #fff;
          padding: 8px 15px;
          max-width: 80px;
          text-align: center;
          border-radius: 20px;
      
          &:hover {
            background-color: transparent;
            border: 1px solid #ee5940;
            color: #ee5940;
          }
        }
      }
      
      .container {
        .main {
          margin-top: -60px;
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          .top-card-wrapper {
            width: 95%;
            background-color: #ee5940;
            padding-top: 50px;
            overflow: hidden;
            h2 {
              background-color: #eee;
              padding: 10px;
              margin: unset;
              text-align: center;
            }
      
            .inner-card-wrapper {
              background-color: #fff;
              width: 92%;
              padding: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              flex-wrap: wrap;
              .card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 85%;
                background-color: #eee;
                box-shadow: 0px 2px 20px 2px #ccc;
                margin: 20px 0px;
                padding: 10px;
                overflow: hidden;
      
                &:hover {
                  transition: 0.4s;
                  transform: scale(1.05);
      
                  .icon {
                    transition: 0.55s;
      
                    background-color: #ee5940;
                    color: #eee;
                  }
                  .title {
                    color: #e43d20;
                  }
                }
      
                img {
                  width: 100%;
                }
      
                .icon {
                  width: 50px;
                  height: 50px;
                  overflow: hidden;
                  background-color: #fff;
                  color: #ee5940;
                  font-size: 32px;
                  border-radius: 50%;
                  padding: 5px;
                  text-align: center;
                }
                .title {
                  width: 100%;
                  padding: 5px;
                  font-size: 16px;
                  font-weight: 700;
                  text-align: center;
                }
                .content {
                  padding: 5px;
                  font-size: 14px;
                  color: #333;
                  text-align: center;
                }
              }
            }
          }
        }
      }
}
