.page-wrapper {
  background-color: #f3f3f3;
  font-family: "Poppins";
  overflow: hidden;
}

.header-area {
  background-image: url(../../assets/images/SVG/bg8.svg);
  background-size: cover;
  width: 100%;
  color: #000;
  height: 100vh;
  .header-overlay {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
  }
  .caption {
    font-size: 40px;
    font-weight: bold;
    // color: #16286a;
    color: #000;
  }
  .sub-caption {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    // background-color: rgba(5, 16, 30, 0.729);
    padding: 20px;
  }
  .button {
    margin-top: 30px;
    background-color: #fc9c1e;
    color: #fff;
    padding: 12px 20px;
    max-width: 100px;
    text-align: center;
    border-radius: 20px;

    &:hover {
      background-color: transparent;
      border: 1px solid #fc9c1e;
      color: #fc9c1e;
    }
  }
}

.button {
  margin-top: 20px;
  background-color: #fc9c1e;
  color: #fff;
  padding: 8px 15px;
  width: fit-content;
  text-align: center;
  border-radius: 30px;

  &:hover {
    background-color: transparent;
    border: 1px solid #fc9c1e;
    color: #fc9c1e;
  }
}

.call-request {
  background-color: #0966f1;
  color: #fff;
  height: 50px;
  // background-color: #eee;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 10px;
  width: 100%;
  z-index: 10;

  .top-card-wrapper {
    width: 100%;
    // background-color: #fc9c1e;
    // background-color: #0966f1;
    overflow: hidden;

    .service {
      width: 100%;
      height: fit-content;
      position: absolute;

      background-image: url("../../assets/images/SVG/bg15-1.svg");
       background-size: cover;

      .service-1,
      .service-2,
      .service-3 {
        width: 400px;
        height: 400px;
        background-color: #fff;

        &:nth-child(odd) {
          background-color: #0966f1;
          position: relative;
          right: 10px;
          margin: 10px;

          border-top-right-radius: 30%;
          border-bottom-right-radius: 35px;
          border-bottom-right-radius: 35px;
        }

        &:nth-child(even) {
          background-color: #8909f1;
          position: relative;
          left: 0;
        }
      }
    }

    .inner-card-wrapper {
      background-image: url("../../assets/images/SVG/bg12.svg");
      background-size: cover;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
        max-width: 250px;
        min-width: 100px;
        min-height: 250px;
        background-color: transparent;
        box-shadow: 0px 2px 20px 2px #ccc;
        margin: 20px 15px;
        padding: 0;
        overflow: hidden;

        &:hover {
          transition: 0.4s;
          transform: scale(1.05);

          .icon {
            transition: 0.55s;
            background-color: #fc9c1e;
            color: #eee;
          }
          .title {
            color: #fc9c1e;
          }
        }

        img {
          width: 100%;
        }

        .icon {
          margin-top: 20px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          overflow: hidden;
          background-color: #fff;
          color: #fc9c1e;
          font-size: 32px;
          border-radius: 50%;
          padding: 5px;
        }
        .title {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          font-weight: 700;
          text-align: center;
        }
        .content {
          padding: 10px;
          font-size: 14px;
          color: #333;
          text-align: justify;
          line-height: 1.5;
        }
      }
    }
  }

  .testimonial {
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/SVG/bg21.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    padding: 100px 0px;

    .wrapper {
      background-color: rgba(5, 4, 48, 0.534);
      padding: 20px 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .what-we-do {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
  .course-module {
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/SVG/bg2.svg");
    .inner-card-wrapper {
      width: 80%;
      background: inherit;
      padding: 20px 100px;
    }
    h2 {
      text-align: center;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 720px) {
  .header-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 50px;

    .header-overlay {
      display: flex;
      flex-direction: column;
      height: -moz-fit-content;
      width: fit-content;
      height: fit-content;
      /* padding: 20px; */
      padding: 100px 30px;
    }

    .caption {
      font-size: 32px;
      font-weight: bold;

      span {
        font-size: 24px;
        color: #333;
      }
    }
    .sub-caption {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }

    .main {
      width: 100vw;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .top-card-wrapper {
        width: auto;
        padding-top: 50px;
        overflow: hidden;
        h2 {
          padding: 10px;
          margin: unset;
          text-align: center;
        }

        .inner-card-wrapper {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          padding: unset;
          padding-top: 20px;
    padding-left: 18px;

          .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 95%;
            max-width: unset;
            min-width: unset;
            margin: 10px 0;
            margin-right: 20px;
            background-color: transparent;
            box-shadow: 0px 2px 30px 5px #ccc;
            padding-bottom: 25px;
            overflow: hidden;

            &:hover {
              transition: 0.4s;
              transform: scale(1.05);

              .icon {
                transition: 0.55s;

                background-color: #fc9c1e;
                color: #eee;
              }
              .title {
                color: #fc9c1e;
              }
            }

            img {
              width: 100%;
            }

            .icon {
              width: 50px;
              height: 50px;
              overflow: hidden;
              background-color: #fff;
              color: #fc9c1e;
              font-size: 32px;
              border-radius: 50%;
              padding: 5px;
              text-align: center;
            }
            .title {
              width: 100%;
              padding: 15px 10px;
              font-size: 16px;
              font-weight: 700;
              text-align: center;
            }
            .content {
              padding: 15px;
              font-size: 14px;
              color: #333;
              text-align: center;
            }
          }
        }
      }

      .testimonial {
        width: 100vw;
        background-image: url("../../assets/images/SVG/bg21.svg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        // font-weight: 600;
    
        .wrapper {
          width: auto;
          padding-left: 10px;
          padding-right: 38px;

            h2, h3 {
              width: 90%;
              font-size: 20px;
              padding-right: 10px;
              color: #fff;
            }

        }
      }
    
      .course-module {
        width: auto;
        height: auto;
    
        .inner-card-wrapper {
          background-image: url("../../assets/images/SVG/bg2.svg");
          padding: 10px;
          padding-right: 20px;

          .card {
            margin: unset;
            margin-top: 25px;
          }
        }
        h2 {
          padding: 5px 40px;
        }
      }
    
      .what-we-do {
        width: 100%;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        padding: 0px;
      }
    }

}
